@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&family=Poppins:wght@100;300;400;700;900&display=swap");

:root {
  /*
  =============== 
  Variables
  ===============
  */
  /* --clr-primary: #645cff; */
  --clr-primary-dark: #101115;
  --clr-primary-light: #262a35;
  --clr-grey-1: #102a42;
  --clr-grey-5: #7c7c7c;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-uncompleted: #eda989;
  --clr-completed: #85c571;
  --clr-projects: #fd9af5;
  --clr-submit: #2366f2;
  --clr-cats: #775ebf;
  --clr-alert: #f37272;

  --border-radius-mini: 10px;
  --border-radius-small: 15px;
  --border-radius-medium: 20px;
  --border-radius-large: 30px;

  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  font-family: "Poppins", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

.is-hidden {
  display: none;
}

input,
textarea,
select {
  border: none;
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  border-radius: var(--border-radius-mini);
  padding: var(--general-mini-padding);
  outline: none;
  margin-bottom: 0.5rem;
  width: 100%;
  font-weight: 600;
}

button {
  border: none;
}
